WPFClient/Service References/GameReference/Game.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Game" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:51845/Game.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:51845/Game.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:51845/Game.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Service.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IGame_Register_InputMessage">
    <wsdl:part name="parameters" element="tns:Register" />
  </wsdl:message>
  <wsdl:message name="IGame_Register_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterResponse" />
  </wsdl:message>
  <wsdl:message name="IGame_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IGame_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IGame_GetPlayerInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPlayerInfo" />
  </wsdl:message>
  <wsdl:message name="IGame_GetPlayerInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPlayerInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IGame_GetTable_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTable" />
  </wsdl:message>
  <wsdl:message name="IGame_GetTable_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTableResponse" />
  </wsdl:message>
  <wsdl:message name="IGame_ListTables_InputMessage">
    <wsdl:part name="parameters" element="tns:ListTables" />
  </wsdl:message>
  <wsdl:message name="IGame_ListTables_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListTablesResponse" />
  </wsdl:message>
  <wsdl:message name="IGame_CreateTable_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateTable" />
  </wsdl:message>
  <wsdl:message name="IGame_CreateTable_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateTableResponse" />
  </wsdl:message>
  <wsdl:message name="IGame_JoinTable_InputMessage">
    <wsdl:part name="parameters" element="tns:JoinTable" />
  </wsdl:message>
  <wsdl:message name="IGame_JoinTable_OutputMessage">
    <wsdl:part name="parameters" element="tns:JoinTableResponse" />
  </wsdl:message>
  <wsdl:message name="IGame_Leave_InputMessage">
    <wsdl:part name="parameters" element="tns:Leave" />
  </wsdl:message>
  <wsdl:message name="IGame_Bet_InputMessage">
    <wsdl:part name="parameters" element="tns:Bet" />
  </wsdl:message>
  <wsdl:message name="IGame_Hit_InputMessage">
    <wsdl:part name="parameters" element="tns:Hit" />
  </wsdl:message>
  <wsdl:message name="IGame_Fold_InputMessage">
    <wsdl:part name="parameters" element="tns:Fold" />
  </wsdl:message>
  <wsdl:portType name="IGame">
    <wsdl:operation name="Register">
      <wsdl:input wsaw:Action="http://tempuri.org/IGame/Register" message="tns:IGame_Register_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGame/RegisterResponse" message="tns:IGame_Register_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IGame/Login" message="tns:IGame_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGame/LoginResponse" message="tns:IGame_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPlayerInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IGame/GetPlayerInfo" message="tns:IGame_GetPlayerInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGame/GetPlayerInfoResponse" message="tns:IGame_GetPlayerInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTable">
      <wsdl:input wsaw:Action="http://tempuri.org/IGame/GetTable" message="tns:IGame_GetTable_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGame/GetTableResponse" message="tns:IGame_GetTable_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListTables">
      <wsdl:input wsaw:Action="http://tempuri.org/IGame/ListTables" message="tns:IGame_ListTables_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGame/ListTablesResponse" message="tns:IGame_ListTables_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateTable">
      <wsdl:input wsaw:Action="http://tempuri.org/IGame/CreateTable" message="tns:IGame_CreateTable_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGame/CreateTableResponse" message="tns:IGame_CreateTable_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="JoinTable">
      <wsdl:input wsaw:Action="http://tempuri.org/IGame/JoinTable" message="tns:IGame_JoinTable_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGame/JoinTableResponse" message="tns:IGame_JoinTable_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Leave">
      <wsdl:input wsaw:Action="http://tempuri.org/IGame/Leave" message="tns:IGame_Leave_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Bet">
      <wsdl:input wsaw:Action="http://tempuri.org/IGame/Bet" message="tns:IGame_Bet_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Hit">
      <wsdl:input wsaw:Action="http://tempuri.org/IGame/Hit" message="tns:IGame_Hit_InputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Fold">
      <wsdl:input wsaw:Action="http://tempuri.org/IGame/Fold" message="tns:IGame_Fold_InputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IGame" type="tns:IGame">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Register">
      <soap:operation soapAction="http://tempuri.org/IGame/Register" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IGame/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPlayerInfo">
      <soap:operation soapAction="http://tempuri.org/IGame/GetPlayerInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTable">
      <soap:operation soapAction="http://tempuri.org/IGame/GetTable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListTables">
      <soap:operation soapAction="http://tempuri.org/IGame/ListTables" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateTable">
      <soap:operation soapAction="http://tempuri.org/IGame/CreateTable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="JoinTable">
      <soap:operation soapAction="http://tempuri.org/IGame/JoinTable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Leave">
      <soap:operation soapAction="http://tempuri.org/IGame/Leave" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="Bet">
      <soap:operation soapAction="http://tempuri.org/IGame/Bet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="Hit">
      <soap:operation soapAction="http://tempuri.org/IGame/Hit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="Fold">
      <soap:operation soapAction="http://tempuri.org/IGame/Fold" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Game">
    <wsdl:port name="BasicHttpBinding_IGame" binding="tns:BasicHttpBinding_IGame">
      <soap:address location="http://localhost:51845/Game.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>