WPFClient/Service References/GameReference/Game3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Service" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:51845/Game.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Service.Models" />
  <xs:import schemaLocation="http://localhost:51845/Game.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:complexType name="GameArgs">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/System" base="q1:EventArgs">
        <xs:sequence>
          <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Service.Models" minOccurs="0" name="Card" nillable="true" type="q2:Card" />
          <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Service.Models" minOccurs="0" name="Player" nillable="true" type="q3:PlayerData" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GameArgs" nillable="true" type="tns:GameArgs" />
</xs:schema>