Website/Service References/GameReference/Game4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/System.Collections.Generic" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:51845/Game.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Service.Models" />
  <xs:complexType name="StackOfCardYkiwTTH9">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="StackOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Card" Namespace="http://schemas.datacontract.org/2004/07/Service.Models" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Service.Models" name="_array" nillable="true" type="q1:ArrayOfCard" />
      <xs:element name="_size" type="xs:int" />
      <xs:element name="_version" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StackOfCardYkiwTTH9" nillable="true" type="tns:StackOfCardYkiwTTH9" />
</xs:schema>